body {
    font-size: 16px;
    max-width: 1000px;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 1em;
}

section {
    border: 5px solid black;
    border-radius: 5px;
    padding: 0.5em;
}

ul {
    padding-inline-start: 0;
    list-style: none;
}

li {
    border-bottom: 2px solid gray;
}

main {
    width: 100%;
    grid-column: span 3;
    justify-self: center;
    align-self: center;
    margin: auto;
    border: 5px solid black;
    border-radius: 7px;
    padding: 2em;
}

main li {
    font-size: 1.25 em;
    padding: 0.25em;
    display: flex;
    justify-content: space-between;
}

main li p {
    margin: 0.5em;
}

div {
    word-break: break-word;
}